.card#change_password
  .return_link_container
    = link_to login_path_string, :class => "return_link" do
      %i.left_arrow_icon_black
  %h2
    = get_string(:change_password)
  %p
    = get_string(:change_password_info)
  = form_for @user, :url => edit_password_reset_form_path_string, :remote => true, :html => { :id => "change_password_form" } do |f|

    %fieldset.primary
      = f.label :password, get_string(:new_password)
      = f.password_field :password, :id => "password_field"

    %fieldset.primary
      = f.label :password_confirmation, get_string(:confirm_password)
      = f.password_field :password_confirmation, :id => "confirm_field"

    = submit_tag get_string(:change_password), :class => 'button fr'
