= content_for(:body) do
  %noscript
    .noscript-warning
      = get_string(:noscript)
  #wrapper
    %article
      %div.container
        %aside
          = yield :login_logo
        %section
          = yield :content
  %footer
    = yield :footer

= render :partial => "layouts/converge-ui/base"
