= content_for(:body) do
  %div.floater
  %article#login
    %div.container
      %aside
      %section
        .content
          %h2 #{_('Change Password')}

          %fieldset.primary
            = label :user, :password, _("Password:")
            = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

          %fieldset.primary
            = label :user, :username, _("Confirm Password:")
            = text_field :user, :username, :id=>"confirm_field", :value=>"", :type=>"password"
          #password_conflict

          #save_password.verify_password.button{'data-url'=>password_reset_path(@user.password_reset_token)}
          #{_("Save")}
          #password_conflict

= render :file => "layouts/converge-ui/base"
