= content_for(:content) do
  %h2
    = get_string(:change_password)
  %fieldset.primary
    = label :user, :password, get_string(:password)
    = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

  %fieldset.primary
    = label :user, :password_confirm, get_string(:confirm_password)
    = text_field :user, :password_confirm, :id=>"confirm_field", :value=>"", :type=>"password"

  %div.group.fr
    %button#save_password.verify_password.dialogbutton.button
      = get_string(:save)

= render :file => "layouts/converge-ui/user_session_layout"
