= content_for(:content) do
  .card
    %h2
      = get_string(:change_password)

    %fieldset.primay
      %span#password_conflict.invisible
        = get_string(:passwords_do_not_match)

    %fieldset.primary
      = label :user, :password, get_string(:password)
      = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

    %fieldset.primary
      = label :user, :password_confirm, get_string(:confirm_password)
      = text_field :user, :password_confirm, :id=>"confirm_field", :value=>"", :type=>"password"

    %div.group.secondary_actions
      %span
    %div.group.fr
      %button#save_password.verify_password.button{ "data-url" => password_reset_path(@user.password_reset_token) }
        = get_string(:save)

= render :file => "layouts/converge-ui/user_session_layout"
