= content_for(:content) do
  .card
    .return_link_container
      %a{ :id => "username_return_link", :href => user_session_path }
        %i.left_arrow-icon-black
    %h2
      = get_string(:change_password)
    %form
      %fieldset.primary
        %label#password_conflict.invisible
          = get_string(:passwords_do_not_match)

      %fieldset.primary
        = label :user, :password, get_string(:password)
        = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"

      %fieldset.primary
        = label :user, :password_confirm, get_string(:confirm_password)
        = text_field :user, :password_confirm, :id=>"confirm_field", :value=>"", :type=>"password"

      %div.group.fr
        %button#save_password.verify_password.button{ "data-url" => password_reset_path(@user.password_reset_token) }
          = get_string(:save)

= render :partial => "layouts/converge-ui/user_session_layout"
