= content_for(:content) do
  .card
    = form_tag user_session_path, :id => 'login_form', :method => "post", :remote=>true do
      %fieldset.primary
        = label_tag :username, get_string(:username)
        = text_field_tag :username, params[:username], :class => 'username', :id => "username"
      %fieldset.primary
        = label_tag :password, get_string(:password)
        = password_field_tag :password, params[:password], :class => 'password', :id => 'password-input'
      - if !@disable_password_recovery
        %div.group.secondary_actions
          %span
            != get_string(:recovery_link) % [link_to(get_string(:username), '#', :id => "username_link"), 
                                            link_to(get_string(:password), '#', :id => "password_link")]
      = submit_tag get_string(:login), :class => "button fr", :id => 'login_btn', :remote=>true
  - if !@disable_password_recovery
    .card_container#password_recovery_container
      .card
        %p 
          = get_string(:password_unknown_info)
          %a{ :id => "password_return_link", :href => "#" }
            = get_string(:return_to_login)
        = form_tag password_resets_path, :method => :post, :id => "password_recovery_form", :remote => true do
          %fieldset.primary
            = label_tag :username, get_string(:username)
            = text_field_tag :username, params[:username]
          %fieldset.primary
            = label_tag :email, get_string(:email_address)
            = text_field_tag :email, params[:email]
          %div.group.secondary_actions
            %span
          = submit_tag get_string(:reset_password), :class => 'button fr'
    .card_container#username_recovery_container
      .card
        %p 
          = get_string(:login_unknown_info)
          %a{ :id => "username_return_link", :href => "#" }
            = get_string(:return_to_login)
        = form_tag email_logins_password_resets_path, :method => :get, :id => "login_recovery_form", :remote => true do
          %fieldset.primary
            = label_tag :email, get_string(:email_address)
            = text_field_tag :email, params[:email]
          %fieldset.primary.hidden
          %div.group.secondary_actions
            %span
          = submit_tag get_string(:send_login), :class => 'button fr'
    .card_container#org_switcher
      .card
        = render :partial => "/layouts/org"

= render :file => "layouts/converge-ui/user_session_layout"
