= content_for(:body) do
  %article#login
    %div.container
      %aside
      %section
        .content
          %h1
            = yield :project_name
          = form_tag user_session_path, :id => 'new_user_session' do
            %fieldset.primary
              = label_tag :username, get_string(:username)
              = text_field_tag :username, params[:username], :class => 'username', :id => "username"
            %fieldset.primary
              = label_tag :password, get_string(:password)
              = password_field_tag :password, params[:password], :class => 'password', :id => 'password-input'
            %fieldset.reveal_pass.fl
              %input{:type => 'checkbox', :id => 'reveal'}
              %label{:for => 'reveal'}
                = yield :show_password
            %div.fr
              = yield :forgot_password_link
            %div.group.bottom
              %a.fl.help-tip_icon-grey#info-btn{:href => '#'}
              %a.fl.lock_icon-grey#security-btn{:href => '#'}
            %div.group.bottom.submit
              = submit_tag get_string(:login), :class => "button", :id => 'login-btn'

= render :file => "layouts/converge-ui/base"
