= content_for(:content) do
  %h1
    = get_string(:login_information)
  .divider
  %div
    = get_string(:remembered_login)
    = link_to(get_string(:return_to_login), new_user_session_path)
  .divider
  %div
    %h2 
      = get_string(:password_unknown)
    %p 
      = get_string(:password_unknown_info)
    = form_tag password_resets_path, :method => :post, :remote => true do
      %fieldset.primary
        = label_tag :username, get_string(:username)
        = text_field_tag :username, params[:username]
      %fieldset.primary
        = label_tag :email, get_string(:email_address)
        = text_field_tag :email, params[:email]
      %div.group.fr
        = submit_tag get_string(:reset_password), :class => 'submit dialogbutton button'
  .divider
  %div
    %h2
      = get_string(:login_unknown)
    %p 
      = get_string(:login_unknown_info)
    = form_tag email_logins_password_resets_path, :method => :get, :remote => true do
      %fieldset.primary
        = label_tag :email, get_string(:email_address)
        = text_field_tag :email, params[:email]
      %div.group.fr
        = submit_tag get_string(:send_login), :class => 'submit dialogbutton button'

= render :file => "layouts/converge-ui/user_session_layout"
