= content_for(:body) do
  #wrapper
    %header#header
      = render :partial => "layouts/converge-ui/header_layout"
    %article#maincontent
      %section.maincontent
        = yield :content
  %footer
    = yield :footer

  = yield :javascript
  = yield :extra

= render :file => "layouts/converge-ui/base"
