= content_for(:body) do
  #wrapper
    %article
      %div.container
        %aside
          = yield :login_logo
        %section
          .content
            = yield :content
  %footer
    = yield :footer

= render :file => "layouts/converge-ui/base"
