= content_for(:body) do
  %div.floater
  #wrapper
    %article
      %div.container
        %aside
          %img
            = yield :login_logo
        %section
          .content
            = yield :content
  %footer
    = yield :footer

= render :file => "layouts/converge-ui/base"
