.card#change_password
  %h2= get_string(:change_password)
  %p= get_string(:change_password_info)
  = form_for @user, :url => edit_password_reset_form_path_string,
                    :remote => true,
                    :html => { :id => "change_password_form",
                               :class => 'form labels_top messages_bottom' } do |f|

    .control_group
      .label= f.label :password, get_string(:new_password)
      .input= f.password_field :password, :id => "password_field"
    .control_group
      .label= f.label :password_confirmation, get_string(:confirm_password)
      .input= f.password_field :password_confirmation, :id => "confirm_field"
    .control_group
      .left_aligned
        = link_to login_path_string, :class => "return_link" do
          %i.left_arrow_icon_black
      .right_aligned
        = submit_tag get_string(:change_password), :class => 'button primary'
