.card#login
  = form_tag login_form_path_string, :id => 'login_form', :class => 'form labels_top messages_bottom', :method => "post", :remote => true do
    .control_group
      .label= label_tag :username, get_string(:username)
      .input= text_field_tag :username, params[:username], :class => 'username', :id => "username"
    .control_group
      .label= label_tag :password, get_string(:password)
      .input= password_field_tag :password, params[:password], :class => 'password', :id => 'password-input'
    .control_group
      .right_aligned
        = recovery_strings
    .control_group
      .right_aligned
        = submit_tag get_string(:login), :class => "button primary", :id => 'login_btn'
      .right_aligned
        .spinner

.card.slidable#username_recovery{:class => ("slid" if params[:card] == "username_recovery")}
  %h2= get_string(:username_unknown)
  %p= get_string(:username_unknown_info)
  = form_tag new_username_recoveries_form_path_string,
             :method => :post,
             :id => "username_recovery_form",
             :class => 'form labels_top messages_bottom',
             :remote => true do
    .control_group
      .label= label_tag :email, get_string(:email_address)
      .input= text_field_tag :email, params[:email]
    .control_group
      .left_aligned
        = link_to login_path_string, :class => "return_link", :id => "username_recovery_return_link" do
          %i.left_arrow_icon_black
      .right_aligned
        = submit_tag get_string(:send_login), :class => 'button primary'

.card.slidable#password_reset{:class => ("slid" if params[:card] == "password_reset")}
  %h2= get_string(:password_unknown)
  %p= get_string(:password_unknown_info)
  = form_tag new_password_resets_form_path_string,
             :method => :post,
             :id => "password_reset_form",
             :class => 'form labels_top messages_bottom',
             :remote => true do
    .control_group
      .label= label_tag :username, get_string(:username)
      .input= text_field_tag :username, params[:username]
    .control_group
      .label= label_tag :email, get_string(:email_address)
      .input= text_field_tag :email, params[:email]
    .control_group
      .left_aligned
        = link_to login_path_string, :class => "return_link", :id => "password_reset_return_link" do
          %i.left_arrow_icon_black
      .right_aligned
        = submit_tag get_string(:reset_password), :class => 'button primary'

- if content_for?(:interstitial)
  = yield :interstitial
