= content_for(:body) do
  #wrapper
    = render :partial => "alchemy/layouts/header_layout"
    %article#maincontent
      %section.maincontent
        = yield :content
  %footer
    = yield :footer

= render :partial => "alchemy/layouts/base"
